data/slha.tar.gz filter=lfs diff=lfs merge=lfs -text
data/slha_BM1.tar.gz filter=lfs diff=lfs merge=lfs -text
data/slha_BM2.tar.gz filter=lfs diff=lfs merge=lfs -text
data/checkmate.tar.gz filter=lfs diff=lfs merge=lfs -text
data/checkmate_BM1.tar.gz filter=lfs diff=lfs merge=lfs -text
data/smodels_output_BM2.tar.gz filter=lfs diff=lfs merge=lfs -text
data/smodels_slha_BM2.tar.gz filter=lfs diff=lfs merge=lfs -text
myCheckMateFiles/validation_slha.tar.gz filter=lfs diff=lfs merge=lfs -text
myCheckMateFiles/validation_results.tar.gz filter=lfs diff=lfs merge=lfs -text
myCheckMateFiles/validation/validation_results.tar.gz filter=lfs diff=lfs merge=lfs -text
myCheckMateFiles/validation/validation_slha.tar.gz filter=lfs diff=lfs merge=lfs -text
data/checkmate_BM2.tar.gz filter=lfs diff=lfs merge=lfs -text
myCheckMate2Files/validation/validation_results.tar.gz filter=lfs diff=lfs merge=lfs -text
myCheckMate2Files/validation/validation_slha.tar.gz filter=lfs diff=lfs merge=lfs -text
myCheckMate3Files/validation/validation_results.tar.gz filter=lfs diff=lfs merge=lfs -text
myCheckMate3Files/validation/validation_slha.tar.gz filter=lfs diff=lfs merge=lfs -text
data/slha_BS1p.tar.gz filter=lfs diff=lfs merge=lfs -text
data/slha_BS2p.tar.gz filter=lfs diff=lfs merge=lfs -text
data/checkmate_BS1p.tar.gz filter=lfs diff=lfs merge=lfs -text
data/checkmate_BS2p.tar.gz filter=lfs diff=lfs merge=lfs -text
data/slha_BS1p_smodels.tar.gz filter=lfs diff=lfs merge=lfs -text
data/smodels_BS1p.tar.gz filter=lfs diff=lfs merge=lfs -text
data/smodels_BS2p.tar.gz filter=lfs diff=lfs merge=lfs -text
data/slha_BS2p_smodels.tar.gz filter=lfs diff=lfs merge=lfs -text
