2012/OSedge/orig/
2012/RA2b/old/
2012/RA4ANN/old/
2012/old/
8TeV/RA2b8TeV/old/
8TeV/SUS13013/old/
ATLAS8TeV/ATLAS_CONF_2012_166/old/
ATLAS8TeV/ATLAS_CONF_2013_001/old/
ATLAS8TeV/ATLAS_CONF_2013_007/old/
ATLAS8TeV/ATLAS_CONF_2013_024/old/
ATLAS8TeV/ATLAS_CONF_2013_028/old/
ATLAS8TeV/ATLAS_CONF_2013_035/old/
ATLAS8TeV/bad/
old/
tmp/
