*.pyc
*~
*.pyo
*.o
*.lo
Delphes
MG5
pythia8
CheckMATE2/*
CheckMATE2
CheckMATE3/*
CheckMATE3
HepMC
MadAnalysis5
checkmateCard_*.dat
myCheckMate3Files/validation/validation_slha
myCheckMate3Files/validation/validation_results
myCheckMate2Files/validation/validation_slha
myCheckMate2Files/validation/validation_results
Feynrules/LQDM_UFO/py3_model.pkl
*.ipynb_checkpoints
